<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mybatisext.test.spring.CameraMapper">

	<resultMap id="Camera" type="io.github.mybatisext.test.spring.Camera">
		<id property="cameraId" column="camera_id" />
		<result property="orgId" column="org_id" />
		<result property="cameraName" column="camera_name" />
		<result property="cameraCode" column="camera_code" />
		<result property="cameraMemo" column="camera_memo" />
		<result property="ip" column="ip" />
		<result property="port" column="port" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="streamType" column="stream_type" />
		<result property="site" column="site" />
		<result property="vendor" column="vendor" />
		<result property="model" column="model" />
		<result property="interval" column="interval" />
		<result property="enabled" column="enabled" />
		<result property="status" column="status" />
		<result property="emergencyEnabled" column="emergency_enabled" />
		<result property="emergencyAllowed" column="emergency_allowed" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<association property="org" column="{orgId=org_id}" select="selectOrg" />
		<association property="orgName" column="{orgId=org_id}" select="selectOrgName" />
	</resultMap>

	<resultMap id="Camera_lazy" type="io.github.mybatisext.test.spring.Camera">
		<id property="cameraId" column="camera_id" />
		<result property="orgId" column="org_id" />
		<result property="cameraName" column="camera_name" />
		<result property="cameraCode" column="camera_code" />
		<result property="cameraMemo" column="camera_memo" />
		<result property="ip" column="ip" />
		<result property="port" column="port" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="streamType" column="stream_type" />
		<result property="site" column="site" />
		<result property="vendor" column="vendor" />
		<result property="model" column="model" />
		<result property="interval" column="interval" />
		<result property="enabled" column="enabled" />
		<result property="status" column="status" />
		<result property="emergencyEnabled" column="emergency_enabled" />
		<result property="emergencyAllowed" column="emergency_allowed" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<association property="org" column="org_id" select="selectOrg" fetchType="lazy" />
		<association property="orgName" column="{orgId=org_id}" select="selectOrgName" fetchType="lazy" />
	</resultMap>

	<resultMap id="Camera_join" type="io.github.mybatisext.test.spring.Camera">
		<id property="cameraId" column="camera_id" />
		<result property="orgId" column="org_id" />
		<result property="cameraName" column="camera_name" />
		<result property="cameraCode" column="camera_code" />
		<result property="cameraMemo" column="camera_memo" />
		<result property="ip" column="ip" />
		<result property="port" column="port" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="streamType" column="stream_type" />
		<result property="site" column="site" />
		<result property="vendor" column="vendor" />
		<result property="model" column="model" />
		<result property="interval" column="interval" />
		<result property="enabled" column="enabled" />
		<result property="status" column="status" />
		<result property="emergencyEnabled" column="emergency_enabled" />
		<result property="emergencyAllowed" column="emergency_allowed" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<!-- <result property="orgName" column="org_name" /> -->
		<association property="org" resultMap="Org" />
		<!-- https://github.com/mybatis/mybatis-3/issues/364 -->
		<!-- https://github.com/mybatis/mybatis-3/wiki/FAQ#how-do-i-map-a-list-of-simple-type-objects-string-integer-etc-to-a-bean-or-map- -->
		<association property="orgName" javaType="java.lang.String">
			<result column="org_name" javaType="java.lang.String" />
		</association>
	</resultMap>

	<resultMap id="Org" type="io.github.mybatisext.test.spring.Org">
		<id property="orgId" column="org_id" />
		<result property="pid" column="pid" />
		<result property="orgName" column="org_name" />
		<result property="orgCode" column="org_code" />
		<result property="fastCode" column="fast_code" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="selectCamera" resultMap="Camera">
		select * from camera
	</select>

	<select id="selectCameraLazy" resultMap="Camera_lazy">
		select * from camera
	</select>

	<select id="selectCameraJoin" resultMap="Camera_join">
		select
		a.*,
		b.*
		from camera a
		left join org b on b.org_id=a.org_id
	</select>

	<select id="selectOrg" resultMap="Org">
		select * from org where org_id=#{orgId}
	</select>

	<select id="selectOrgName" resultType="java.lang.String">
		select org_name from org where org_id=#{orgId}
	</select>

	<select id="countCamera" resultType="long">
		select count(*) from camera
	</select>
</mapper>