<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mybatisext.test.spring.OrgMapper">

	<resultMap id="Org" type="io.github.mybatisext.test.spring.Org">
		<id property="orgId" column="org_id" />
		<result property="pid" column="pid" />
		<result property="orgName" column="org_name" />
		<result property="orgCode" column="org_code" />
		<result property="fastCode" column="fast_code" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<collection property="cameras" column="{orgId=org_id}" select="selectCamera" />
		<collection property="cameraNames" column="{orgId=org_id}" select="selectCameraName" />
	</resultMap>

	<resultMap id="Org_lazy" type="io.github.mybatisext.test.spring.Org">
		<id property="orgId" column="org_id" />
		<result property="pid" column="pid" />
		<result property="orgName" column="org_name" />
		<result property="orgCode" column="org_code" />
		<result property="fastCode" column="fast_code" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<collection property="cameras" column="{orgId=org_id}" select="selectCamera" fetchType="lazy" />
		<collection property="cameraNames" column="{orgId=org_id}" select="selectCameraName" fetchType="lazy" />
	</resultMap>

	<resultMap id="Org_join" type="io.github.mybatisext.test.spring.Org">
		<id property="orgId" column="org_id" />
		<result property="pid" column="pid" />
		<result property="orgName" column="org_name" />
		<result property="orgCode" column="org_code" />
		<result property="fastCode" column="fast_code" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
		<collection property="cameras" resultMap="Camera" />
		<!-- https://github.com/mybatis/mybatis-3/issues/364 -->
		<!-- https://github.com/mybatis/mybatis-3/wiki/FAQ#how-do-i-map-a-list-of-simple-type-objects-string-integer-etc-to-a-bean-or-map- -->
		<collection property="cameraNames" ofType="java.lang.String" javaType="list">
			<result column="camera_name" javaType="java.lang.String" />
		</collection>
	</resultMap>

	<resultMap id="Camera" type="io.github.mybatisext.test.spring.Camera">
		<id property="cameraId" column="camera_id" />
		<result property="orgId" column="org_id" />
		<result property="cameraName" column="camera_name" />
		<result property="cameraCode" column="camera_code" />
		<result property="cameraMemo" column="camera_memo" />
		<result property="ip" column="ip" />
		<result property="port" column="port" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="streamType" column="stream_type" />
		<result property="site" column="site" />
		<result property="vendor" column="vendor" />
		<result property="model" column="model" />
		<result property="interval" column="interval" />
		<result property="enabled" column="enabled" />
		<result property="status" column="status" />
		<result property="emergencyEnabled" column="emergency_enabled" />
		<result property="emergencyAllowed" column="emergency_allowed" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="selectOrg" resultMap="Org">
		select * from org
	</select>

	<select id="selectOrgLazy" resultMap="Org_lazy">
		select * from org
	</select>

	<select id="selectOrgJoin" resultMap="Org_join">
		select
		a.org_id,
		a.org_name,
		b.*
		from org a
		left join camera b on b.org_id=a.org_id
	</select>

	<select id="selectCamera" resultMap="Camera">
		select * from camera where org_id=#{orgId}
	</select>

	<select id="selectCameraName" resultType="java.lang.String">
		select camera_name from camera where org_id=#{orgId}
	</select>
</mapper>