<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mybatisext.test.spring.TestOgnlMapper">
	<select id="testOgnlInForeach" resultType="java.lang.String">
        <!-- <foreach collection="@Ognl@objToList(value)" item="item" separator=" union all "> --> <!-- 必须用@Param指定参数名 -->
        <!-- <foreach collection="@Ognl@objToList(arg0)" item="item" separator=" union all "> -->
        <foreach collection="@Ognl@objToList(param1)" item="item" separator=" union all ">
            select #{item} value
        </foreach>
	</select>

    <select id="testVaragsToList" resultType="java.lang.String">
        <foreach collection="@Ognl@varagsToList(param1,param2)" item="item" separator=" union all ">
            select #{item} value
        </foreach>
	</select>

    <select id="testOgnlCallMapperStatement" resultType="java.lang.String">
        <foreach collection="@Ognl@callMapperStatement('testVaragsToList','abc','def')" item="item" separator=" union all ">
            select #{item} value
        </foreach>
	</select>
</mapper>